# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
coverage/

# Next.js build outputs
.next/
out/
build/

# Python caching and environments
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Environment configurations
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs and debug files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System files
.DS_Store
Thumbs.db
*.pem

# Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Typescript
*.tsbuildinfo
frontend/next-env.d.ts
